body {
    background: #F2911B;
    font-family: Verdana, Arial, Helvetica,sans-serif;
}
.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #F2EDE4;
}

.assignment img {
    width:200px;
    padding:10px;
}
h1 { 
    color: #BF372A;
}
a {
    text-decoration: none;
    color: #BF372A;
}